/* Reseting the spaces */
* {
    margin: 0;
    padding: 0;
}

/* Setting the variables for colors */
:root {
    --blue-1: #caf0f8;
    --blue-2: #90e0ef;
    --blue-3: #00b4d8;
    --blue-4: #0077b6;
    --blue-5: #03045e;
}

body {
    background-color: white;

    /* Full width, full height */
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--blue-1);
    width: 100%;
    height: 10%;
}

/* Utility class for centering a div's children */
.flex-centered-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    bottom: 0;
    background-color: var(--blue-4);
    width: 100%;
    height: 10%;
    color: white;
}

main {
    /* 100% - header (10%) - footer (10% */
    height: 80%;
    width: 100%;
    /* Using Grid to create 3 columnds, 1 for aside, 2 for article */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

aside {
    background-color: var(--blue-2);
    /* Doesn't do anything, just semantic */
    grid-column: 1;
}

article {
    background-color: var(--blue-3);
    /* To give it twice the width of aside */
    grid-column: 2 / 4;
}